# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
import sqlite3
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [3]:
cur.execute('''SELECT lastName, firstName, city FROM employees JOIN offices USING (officeCode) WHERE city = 'Boston';''').fetchall()

[('Firrelli', 'Julie', 'Boston'), ('Patterson', 'Steve', 'Boston')]

## Do any offices have no employees?

In [4]:
cur.execute('''SELECT city, count(*) FROM offices JOIN employees USING (officeCode) GROUP BY 1; ''').fetchall()

[('Boston', 2),
 ('London', 2),
 ('NYC', 2),
 ('Paris', 5),
 ('San Francisco', 6),
 ('Sydney', 4),
 ('Tokyo', 2)]

In [ ]:
# All offices have at least 1 employee.

## Write 3 Questions of your own and answer them

In [7]:
# How many different job titles and how many of each?

cur.execute('''SELECT jobTitle, count(jobTitle) FROM employees GROUP BY 1; ''').fetchall()

[('President', 1),
 ('Sale Manager (EMEA)', 1),
 ('Sales Manager (APAC)', 1),
 ('Sales Manager (NA)', 1),
 ('Sales Rep', 17),
 ('VP Marketing', 1),
 ('VP Sales', 1)]

In [36]:
#  Ship date & price of item 
cur.execute('''SELECT shippedDate, priceEach FROM orders, orderdetails
                            WHERE status = "Shipped"
                            GROUP BY 1
                            ; ''').fetchall()

[('2003-01-10', '94.92'),
 ('2003-01-11', '94.92'),
 ('2003-01-14', '94.92'),
 ('2003-02-01', '94.92'),
 ('2003-02-02', '94.92'),
 ('2003-02-12', '94.92'),
 ('2003-02-21', '94.92'),
 ('2003-02-26', '94.92'),
 ('2003-03-08', '94.92'),
 ('2003-03-11', '94.92'),
 ('2003-03-20', '94.92'),
 ('2003-03-27', '94.92'),
 ('2003-03-29', '94.92'),
 ('2003-03-30', '94.92'),
 ('2003-04-02', '94.92'),
 ('2003-04-07', '94.92'),
 ('2003-04-13', '94.92'),
 ('2003-04-17', '94.92'),
 ('2003-04-26', '94.92'),
 ('2003-05-01', '94.92'),
 ('2003-05-02', '94.92'),
 ('2003-05-13', '94.92'),
 ('2003-05-22', '94.92'),
 ('2003-05-24', '94.92'),
 ('2003-05-25', '94.92'),
 ('2003-06-02', '94.92'),
 ('2003-06-06', '94.92'),
 ('2003-06-11', '94.92'),
 ('2003-06-14', '94.92'),
 ('2003-06-21', '94.92'),
 ('2003-06-28', '94.92'),
 ('2003-07-03', '94.92'),
 ('2003-07-05', '94.92'),
 ('2003-07-06', '94.92'),
 ('2003-07-13', '94.92'),
 ('2003-07-14', '94.92'),
 ('2003-07-21', '94.92'),
 ('2003-07-30', '94.92'),
 ('2003-08-04', '94.92'),
 ('2003-08-12', '94.92'),
 ('2003-08-13', '94.92'),
 ('2003-08-14', '94.92'),
 ('2003-08-31', '94.92'),
 ('2003-09-06', '94.92'),
 ('2003-09-09', '94.92'),
 ('2003-09-15', '94.92'),
 ('2003-09-17', '94.92'),
 ('2003-09-21', '94.92'),
 ('2003-09-24', '94.92'),
 ('2003-10-01', '94.92'),
 ('2003-10-03', '94.92'),
 ('2003-10-07', '94.92'),
 ('2003-10-08', '94.92'),
 ('2003-10-09', '94.92'),
 ('2003-10-11', '94.92'),
 ('2003-10-14', '94.92'),
 ('2003-10-15', '94.92'),
 ('2003-10-16', '94.92'),
 ('2003-10-17', '94.92'),
 ('2003-10-19', '94.92'),
 ('2003-10-20', '94.92'),
 ('2003-10-24', '94.92'),
 ('2003-10-27', '94.92'),
 ('2003-11-01', '94.92'),
 ('2003-11-07', '94.92'),
 ('2003-11-09', '94.92'),
 ('2003-11-10', '94.92'),
 ('2003-11-11', '94.92'),
 ('2003-11-12', '94.92'),
 ('2003-11-14', '94.92'),
 ('2003-11-15', '94.92'),
 ('2003-11-16', '94.92'),
 ('2003-11-18', '94.92'),
 ('2003-11-20', '94.92'),
 ('2003-11-24', '94.92'),
 ('2003-11-25', '94.92'),
 ('2003-11-26', '94.92'),
 ('2003-11-27', '94.92'),
 ('2003-11-28', '94.92'),
 ('2003-12-01', '94.92'),
 ('2003-12-02', '94.92'),
 ('2003-12-03', '94.92'),
 ('2003-12-04', '94.92'),
 ('2003-12-06', '94.92'),
 ('2003-12-07', '94.92'),
 ('2003-12-08', '94.92'),
 ('2003-12-11', '94.92'),
 ('2003-12-26', '94.92'),
 ('2004-01-04', '94.92'),
 ('2004-01-12', '94.92'),
 ('2004-01-18', '94.92'),
 ('2004-01-20', '94.92'),
 ('2004-01-27', '94.92'),
 ('2004-01-29', '94.92'),
 ('2004-02-01', '94.92'),
 ('2004-02-04', '94.92'),
 ('2004-02-06', '94.92'),
 ('2004-02-11', '94.92'),
 ('2004-02-12', '94.92'),
 ('2004-02-16', '94.92'),
 ('2004-02-19', '94.92'),
 ('2004-02-20', '94.92'),
 ('2004-02-24', '94.92'),
 ('2004-02-26', '94.92'),
 ('2004-03-02', '94.92'),
 ('2004-03-08', '94.92'),
 ('2004-03-12', '94.92'),
 ('2004-03-13', '94.92'),
 ('2004-03-20', '94.92'),
 ('2004-03-25', '94.92'),
 ('2004-04-02', '94.92'),
 ('2004-04-06', '94.92'),
 ('2004-04-08', '94.92'),
 ('2004-04-10', '94.92'),
 ('2004-04-17', '94.92'),
 ('2004-04-19', '94.92'),
 ('2004-04-20', '94.92'),
 ('2004-04-25', '94.92'),
 ('2004-04-28', '94.92'),
 ('2004-05-04', '94.92'),
 ('2004-05-06', '94.92'),
 ('2004-05-08', '94.92'),
 ('2004-05-09', '94.92'),
 ('2004-05-11', '94.92'),
 ('2004-05-15', '94.92'),
 ('2004-05-24', '94.92'),
 ('2004-05-29', '94.92'),
 ('2004-06-04', '94.92'),
 ('2004-06-09', '94.92'),
 ('2004-06-10', '94.92'),
 ('2004-06-15', '94.92'),
 ('2004-06-17', '94.92'),
 ('2004-06-22', '94.92'),
 ('2004-06-23', '94.92'),
 ('2004-07-01', '94.92'),
 ('2004-07-02', '94.92'),
 ('2004-07-07', '94.92'),
 ('2004-07-09', '94.92'),
 ('2004-07-10', '94.92'),
 ('2004-07-14', '94.92'),
 ('2004-07-18', '94.92'),
 ('2004-07-22', '94.92'),
 ('2004-07-23', '94.92'),
 ('2004-07-24', '94.92'),
 ('2004-07-29', '94.92'),
 ('2004-08-05', '94.92'),
 ('2004-08-08', '94.92'),
 ('2004-08-09', '94.92'),
 ('2004-08-15', '94.92'),
 ('2004-08-19', '94.92'),
 ('2004-08-22', '94.92'),
 ('2004-08-23', '94.92'),
 ('2004-08-26', '94.92'),
 ('2004-08-31', '94.92'),
 ('2004-09-01', '94.92'),
 ('2004-09-04', '94.92'),
 ('2004-09-05', '94.92'),
 ('2004-09-11', '94.92'),
 ('2004-09-13', '94.92'),
 ('2004-09-14', '94.92'),
 ('2004-09-16', '94.92'),
 ('2004-09-21', '94.92'),
 ('2004-10-01', '94.92'),
 ('2004-10-09', '94.92'),
 ('2004-10-15', '94.92'),
 ('2004-10-17', '94.92'),
 ('2004-10-18', '94.92'),
 ('2004-10-20', '94.92'),
 ('2004-10-23', '94.92'),
 ('2004-10-25', '94.92'),
 ('2004-10-30', '94.92'),
 ('2004-11-05', '94.92'),
 ('2004-11-06', '94.92'),
 ('2004-11-07', '94.92'),
 ('2004-11-08', '94.92'),
 ('2004-11-09', '94.92'),
 ('2004-11-10', '94.92'),
 ('2004-11-16', '94.92'),
 ('2004-11-18', '94.92'),
 ('2004-11-20', '94.92'),
 ('2004-11-21', '94.92'),
 ('2004-11-23', '94.92'),
 ('2004-11-24', '94.92'),
 ('2004-11-25', '94.92'),
 ('2004-11-26', '94.92'),
 ('2004-11-27', '94.92'),
 ('2004-11-29', '94.92'),
 ('2004-11-30', '94.92'),
 ('2004-12-03', '94.92'),
 ('2004-12-05', '94.92'),
 ('2004-12-07', '94.92'),
 ('2004-12-09', '94.92'),
 ('2004-12-12', '94.92'),
 ('2004-12-13', '94.92'),
 ('2004-12-14', '94.92'),
 ('2004-12-16', '94.92'),
 ('2004-12-18', '94.92'),
 ('2004-12-20', '94.92'),
 ('2005-01-09', '94.92'),
 ('2005-01-10', '94.92'),
 ('2005-01-11', '94.92'),
 ('2005-01-12', '94.92'),
 ('2005-01-24', '94.92'),
 ('2005-01-25', '94.92'),
 ('2005-01-28', '94.92'),
 ('2005-02-03', '94.92'),
 ('2005-02-06', '94.92'),
 ('2005-02-11', '94.92'),
 ('2005-02-12', '94.92'),
 ('2005-02-13', '94.92'),
 ('2005-02-18', '94.92'),
 ('2005-02-25', '94.92'),
 ('2005-02-27', '94.92'),
 ('2005-03-01', '94.92'),
 ('2005-03-06', '94.92'),
 ('2005-03-07', '94.92'),
 ('2005-03-08', '94.92'),
 ('2005-03-09', '94.92'),
 ('2005-03-12', '94.92'),
 ('2005-03-14', '94.92'),
 ('2005-03-15', '94.92'),
 ('2005-03-19', '94.92'),
 ('2005-03-23', '94.92'),
 ('2005-03-28', '94.92'),
 ('2005-03-31', '94.92'),
 ('2005-04-01', '94.92'),
 ('2005-04-03', '94.92'),
 ('2005-04-04', '94.92'),
 ('2005-04-11', '94.92'),
 ('2005-04-12', '94.92'),
 ('2005-04-20', '94.92'),
 ('2005-04-24', '94.92'),
 ('2005-04-27', '94.92'),
 ('2005-04-30', '94.92'),
 ('2005-05-05', '94.92'),
 ('2005-05-06', '94.92'),
 ('2005-05-09', '94.92'),
 ('2005-05-14', '94.92'),
 ('2005-05-19', '94.92'),
 ('2005-05-20', '94.92')]

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [ ]:
cur.execute('''SELECT * FROM employees e
        JOIN customers c ON 
        USING (officeCode) WHERE city = 'Boston';''').fetchall()

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!